<nav class="nav">
  <a href="/"><li>Home</li></a>
  <a href="/about"><li>About</li></a>
  <a href="/product"><li>Products</li></a>
  <h1>Logo</h1>
  <a href="/book"><li>Book</li></a>
  <% if (login) { %> <a href="/profile"><li>Profile</li></a>
  <a href="/users/logout"><li>Logout</li></a> <% }else{ %>
  <a href="/users/register"><li>Register</li></a>
  <a href="/users/login"><li>Login</li></a> <% } %>
</nav>
