<nav>
  <div class="left">hi</div>
  <div class="left">
    <a href="/"><li>Home</li></a>
    <a href="/about"><li>About</li></a>
    <a href="/products"><li>Products</li></a>
    <a href="/product"><li>Product</li></a>
    <a href="/users/register"><li>Register</li></a>
    <a href="/users/login"><li>Login</li></a>
  </div>
</nav>
