<section class="landing">
  <img class="landing" src="/images/landing.png" />
</section>
<section class="featues">
  <h1 class="main-h">something</h1>
  <div class="feat">
    <div class="circle"></div>
    <div class="circle"></div>
    <div class="circle"></div>
    <div class="circle"></div>
  </div>
</section>

<section class="abt">
  <h1 class="side-h">About Us</h1>
  <div class="abt-txt">
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Debitis
    reprehenderit, voluptatibus quaerat nemo, inventore sapiente culpa vero
    fugiat, explicabo possimus nulla. Porro illum molestias quis commodi
    pariatur aperiam itaque ipsam perspiciatis obcaecati delectus ab nesciunt
    maxime odit, dolorum dolorem consequatur. Fugiat dolor amet inventore dicta
    fugit similique tenetur, saepe reiciendis ad ex quaerat vel unde nam
    consequuntur provident nisi numquam a placeat voluptate et!
  </div>
</section>
