<section class="landing">
  <img class="landing" src="/images/landing.png" />
</section>

<section class="abt">
  <div class="abt-container">
    <div class="abt-txt">
      <h1 class="side-h">About Us</h1>
      Introducing MAAAS a global integrated media and entertainment powerhouse,
      dedicated to bringing you the most exhilarating and unforgettable boxing
      experiences on the planet. We are the definitive platform for enthusiasts
      to access the world of professional boxing like never before.  At MAAAS,
      we are passionate about delivering thrilling boxing matches that captivate
      audiences worldwide. Our company specializes in the promotion and
      management of top-tier boxing events, making us a force to be reckoned
      with in the world of sports and entertainment.
    </div>
    <img class="abt-img" src="/images/abt-img.png" />
  </div>
</section>
