* {
  padding: 0;
  margin: 0;
  color: #cdcddd;
  font-family: "Inter", sans-serif;
  font-family: "Nunito Sans", sans-serif;
  font-family: "Poppins", sans-serif;
  font-family: "Roboto", sans-serif;
}

body {
  background-color: #14141c;
}

.error-div {
  color: red;
  background-color: rgba(255, 0, 0, 0.566);
  border: 2px solid red;
}

input {
  border: 1px solid #fff;
  background: transparent;
  border-radius: 4px;
  height: 40px;
  margin-block: 20px;
  padding: 10px;
}

h1 {
  font-weight: 500;
}

button {
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin: 40px;
  color: #fff;
  background-color: #434460;
  border-radius: 4px;
  border: none;
}

label {
  font-size: 20px;
}

.side-h {
  margin-block: 20px;
}

a {
  text-decoration: none;
}
