section {
  color: white;
}

.landing {
  height: 100vh;
  display: block;
  max-width: 90vw;
  height: auto;
  margin: auto;
}

.abt-txt {
  text-align: justify;
  margin-top: 40px;
}

.abt {
  padding: 80px;
  display: flex;
  justify-content: center;
  font-size: 18px;
  line-height: 32px;
  flex-direction: column;
  max-width: 400px;
}

.features {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
