.product {
  width: 300px;
  margin: 40px;
  background-color: #42424f;
}
.product-name {
  font-size: 24px;
  margin-block: 10px;
  padding: 0 !important;
}
.product-image {
  width: 100%;
}
.products {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.text > * {
  /* padding: 10px; */
  color: #fff;
}

.text {
  margin: 20px;
}
.product-stock {
  text-align: left;
  color: #cfcfcf;
  width: 100%;
}
.view-btn {
  height: 40px;
  text-align: center;
  background-color: #636378;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
}

.view-btn {
  margin: 20px;
}

.stock {
  display: flex;
  justify-content: center;
  align-items: center;
}
